@font-face {
	font-family: Action_Man;
	src: url('fonts/Action_Man_Bold_Italic.ttf');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: Action_Man;
	src: url('fonts/Action_Man_Bold.ttf');
	font-weight: bold;
}

@font-face {
	font-family: Action_Man;
	src: url('fonts/Action_Man_Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: Action_Man_Shaded;
	src: url('fonts/Action_Man_Shaded_Italic.ttf');
	font-style: italic;
}

@font-face {
	font-family: Action_Man_Shaded;
	src: url('fonts/Action_Man_Shaded.ttf');
}

@font-face {
	font-family: Action_Man;
	src: url('fonts/Action_Man.ttf');
}
@font-face {
	font-family: Amable;
	src: url('fonts/Amable.ttf');
}

@font-face {
	font-family: CaviarDreams;
	src: url('fonts/CaviarDreams.ttf');
}

@font-face {
	font-family: KaushanScript;
	src: url('fonts/KaushanScript-Regular.otf');
}

* {
	padding: 0;
	margin: 0;
	font-family: CaviarDreams;
}

img {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: #00ADEF;
}

header {
	height: 6em;
	padding: 3em 1.5em;
	position: relative;
	line-height: 6em;
	z-index: 900;
}

header>a {
	display: block;
	text-decoration: none;
}

header, nav#mainMenu, nav#mainMenu ul, #titres {
	background: rgb(140,145,170);
}

#titres {
	float: left;
	vertical-align: top;
	line-height: 3.1em;
	height: 6em;
}

#titres h2 {
	font-size: 220%;
	font-family: Amable;
	font-weight: bold;
	color: white;
}

#titres h2:last-child {
	font-size: 130%;
}


@media (max-width: 350px) {
	#titres h2 {
		font-size: 170%;
	}

	#titres h2:last-child {
		font-size: 90%;
	}
}

nav#mainMenu {
	float: right;
	line-height: 6em;
	height: 6em;
	z-index: 900;
}

nav#mainMenu #menu-icon {
	text-align: center;
	width: 20%;
	min-width: 60px;
}

nav#mainMenu #hamburger {
	display: none;
	vertical-align: middle;
	position: relative;
    width: 54px;
    height: 54px;
	transition: transform 0.5s;
	cursor: pointer;
}

nav#mainMenu #hamburger span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	width: 22px;
	height: 2px;
	background-color: #49708a;
	transition: background 0.5s;
}

nav#mainMenu #hamburger span::before, nav#mainMenu #hamburger span::after {
	content: ' ';
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-6px);
	display: block;
	width: 22px;
	height: 2px;
	background-color: #49708a;
	transition: transform 0.5s;
}

nav#mainMenu #hamburger span::after {
    transform: translateY(6px); 
}

nav#mainMenu.opened #hamburger {
	transform: rotate(180deg);
}

nav#mainMenu.opened #hamburger span {
	background: transparent;
}

nav#mainMenu.opened #hamburger span::before {
	transform: translateY(0) rotate(45deg);
}

nav#mainMenu.opened #hamburger span::after {
	transform: translateY(0) rotate(-45deg);
}

nav#mainMenu ul {
	display: inline-block;
	vertical-align: top;
}

nav#mainMenu li {
	list-style-type: none;
	text-transform: capitalize;
}

nav#mainMenu a {
	display: block;
	text-decoration: none;
	color: white;
	font-size: 130%;
	font-family: Action_man;
	transition: all 0.3s;
}

@media (max-width: 51em) {/* Menu petite taille */

	nav#mainMenu #hamburger {
		display: inline-block;
	}
	
	nav#mainMenu ul {
		display: none;
		padding: 1em 0;
		width: 100%;
		position: absolute;
		left: 0;
		line-height: 3.5em;
	}

	nav#mainMenu.opened ul {
		display: block;
	}

	nav#mainMenu li a::before {
		content: "";
		position: absolute;
		transition: all 0.3s;
	}

	nav#mainMenu li {
		padding-left: 20%;
		display: block;
	}

	nav#mainMenu li a {
		font-size: 150%;
	}

	nav#mainMenu li.active a::before {
		content: ">";
		left: 10%;
	}
}

@media (min-width: 51.05em) {/* Menu Grande taille */

	header {
		padding: 1em 3em;
	}
		
	nav#mainMenu li {
		display: inline-block;
		margin: 0 0.9em;
	}

	nav#mainMenu li a {
		padding: 0 1em;
	}

	nav#mainMenu li.active a, nav#mainMenu li:hover a {
		color: #0063FF;
	}
	
	@media (max-width: 64.935em) {
	
		header {
			height: 12em;
		}
		
		nav#mainMenu {
			text-align: right;
		}
	}
}

hr {
	width: 60%;
	position: relative;
	left: 20%;
	margin: 1em 0;
	border-width: 0 0 1px 0;
}

.validation {
	color: white;
	display: inline-block;
	padding: 1.5em;
	border-radius: 0.5em;
	margin: 2em 0;
}

#errors {
	background: rgb(255, 26, 26);
}

#success {
	background: #00b300;
}

.validation > div {
	display: inline-block;
	vertical-align: middle;
}

.validation .symbole {
	background: white;
	border-radius: 1em;
	display: inline-block;
	font-size: 2em;
	height: 2em;
	line-height: 2em;
	width: 2em;
	text-transform: uppercase;
	margin-right: 1em;
}

#errors .symbole {
	color: rgb(255, 26, 26);
}

#success .symbole {
	color: #00b300;
}

.validation .symbole + div {
	text-align: left;
}

.terme_technique {
	border-bottom: 1px dashed;
}

.terme_technique:hover {
	cursor: help;
}

/********************************
************ ACCUEIL ************
********************************/

*.accueil {
	font-family: Amable;
	background: grey;
}

#main-display.accueil {
	height: 100%;
	overflow: hidden;
}

#main-display.accueil .content {
	margin: 0;
}

.accueil #photoQuestion {
	position: relative;
	z-index: 500;
}

.accueil #photoQuestion div.photo  {
	max-width: 100%;
	z-index: 200;
}

.accueil #photoQuestion div.photo img  {
	max-width: 100%;
}

.accueil #photoQuestion .cadrePhrase {
	position: absolute;
	background: rgba(140,145,170,0.7);
	color: white;
	width: 35%;
	min-width: 350px;
	padding: 1em;
	padding-left: 0;
	z-index: 300;
	text-align: right;
	right: 0;
	top: 30%;
}

.accueil #photoQuestion .cadrePhrase .question {
	font-size: 200%;
}

.accueil #photoQuestion .cadrePhrase .reponse {
	margin-top: 0.7em;
	font-size: 250%;
}

@media (max-width: 66em) {
	.accueil #photoQuestion .cadrePhrase .question {
		font-size: 120%;
	}
	.accueil #photoQuestion .cadrePhrase .reponse {
		font-size: 150%;
	}
}

@media (min-width: 51em) {
	.accueil #photoQuestion div.photo img  {
		position: relative;
		top: -5em;
		z-index: -1;
	}
}

.accueil#services {
	color: white;
	text-align: center;
	min-height: 100%;
}

.accueil#services h3 {
	text-decoration: underline;
	font-size: 300%;
	font-weight: bold;
	padding: 1.5em 0 2.5em 0;
}

@media (max-width: 35em) {
	.accueil#services h3 {
		font-size: 250%;
	}
}

.accueil#services ul {
	padding-bottom: 8em;
}

.accueil#services ul li {
	display: inline-block;
	vertical-align: top;
	margin: 1em 5%;
}

.accueil#services ul li div {
	line-height: 180px;
}

.accueil#services ul li div img {
	vertical-align: middle;
	height: 180px;
	width: 180px;
}

.accueil#services ul li h4 {
	font-family: KaushanScript;
	font-size: 200%;
	margin: 1.5em 0 0.35em 0;
}

.accueil#features {
	background: #00ADEF;
	text-align: center;
	padding-bottom: 2em;
}

.accueil#features h3 {
	text-decoration: underline;
	font-size: 300%;
	font-weight: bold;
	padding: 1.5em 0 2.5em 0;
	color: white;
}

.accueil#features ul li {
	list-style-type: none;
	color: black;
	text-align: center;
	padding: 1em 5%;
}

.accueil#features ul li div {
	line-height: 200%;
}

.accueil#features ul li div img {
	max-width: 200px;
}

.accueil#features ul li div h4 {
	font-size: 130%;
	line-height: 200%;
	font-weight: normal;
	padding-bottom: 0.5em;
}

@media (max-width: 35em) {
	.accueil#features ul li {
		margin: 1em;
	}

	.accueil#features ul li div span.image {
		display: block;
	}
}

@media (min-width: 35em) {
	
	.accueil#features ul li div {
		overflow: auto;
	}
	
	.accueil#features ul li:nth-child(odd) div span.image {
		float: left;
		margin-right: 5%;
	}
	
	.accueil#features ul li:nth-child(even) div span.image {
		float: right;
		margin-left: 5%;
	}
	
	.accueil#features ul li:nth-child(odd) div:first-child {
		text-align: left;
	}
	
	.accueil#features ul li:nth-child(even) div:first-child {
		text-align: right;
	}
}

/********************************
************ TARIFS *************
********************************/

#main-display.tarifs {
	min-height: 100%;
}

.tarifs + .tarifs {
	height: 100%;
}

.tarifs .content {
	text-align: center;
	color: white;
}

.tarifs .content h2 {
	text-decoration: underline;
	font-size: 300%;
	font-weight: bold;
	padding: 1.5em 0 2.5em 0;
}

@media (max-width: 35em) {
	.tarifs .content h2 {
		font-size: 250%;
	}
}

.tarifs #formules {
    text-align: center;
	margin-bottom: 4em;
	background: #00ADEF;
}

.tarifs #formules li {
    display: inline-block;
    vertical-align: top;
	min-height: 20em;
    width: 28%;
    min-width: 18em;
    margin: 2%;
}

.tarifs #formules h4 {
	margin: 0 10% 10% 10%;
	padding: 2em 0;
    font-size: 200%;
    text-align: center;
    font-family: action_man;
	border-radius: 1em;
	background: grey;
}

.tarifs #formules h4 + p {
	font-family: CaviarDreams;
    font-size: 120%;
    text-align: justify;
    margin: 1em 10%;
}

.tarifs #fonctionnalites {
	background: grey;
	min-height: 100%;
	display: inline-block;
	margin: 2em 0;
	text-align: center;
}

@media (min-width: 10em) {
	.tarifs #fonctionnalites #offres {
		display: flex;
		flex-wrap: wrap;
	}
}

.tarifs #fonctionnalites .offre {
	/*flex: 1 1;*/
	max-width: 100%;
}

.tarifs #fonctionnalites .offre ul {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.tarifs #fonctionnalites .offre ul li {
	list-style-type: none;
	min-width: 16em;
	/*flex: 1 1;*/
}

.tarifs #fonctionnalites .offre ul li, 
.tarifs #fonctionnalites .offre .description {
	border-radius: 1em;
	border: solid 2px #00ADEF;
	margin: 1em;
	padding: 1em;
	text-align: left;
}

.tarifs #fonctionnalites .offre ul li p {
	margin-top: 1em;
}

.tarifs #devis {
	padding: 5em 0;
	text-align: center;
}

.tarifs #devis h3#boutton_demande {
	display: inline-block;
	margin: 5em 1em;
	background: #88ABC2;
	border-radius: 1em;
}

.tarifs #devis h3#boutton_demande:hover {
	box-shadow: 0em 0em 0.7em #233643;
	background: #90B3CA;
}

.tarifs #devis h3#boutton_demande:active {
	box-shadow: inset 0.1em 0.1em 0.5em #49708A;
}

.tarifs #devis a {
	padding: 2em;
	display: block;
	text-decoration: none;
	color: black;
}

.tarifs #devis h3#boutton_demande + p {
	display: inline-block;
	margin: 0;
}

/********************************
************* DEVIS *************
********************************/

.devis .content {
	text-align: center;
}

.devis #devis #pages {
	width: 80%;
	margin-left: 10%;
}

.devis #devis #fonctions {
	text-align: center;
}

.devis #devis .cadre {
	padding: 2em;
}

.devis #devis .cadre:not(#valider) {
	margin: 1em;
	/*background: #D0E0EB;*/
	border-radius: 0.5em;
	border: 2px solid white;
	color: white;
}

.devis #devis .cadre p:first-child {
	text-align: left;
	margin: 0em 0 3em 2em;
}

.devis #devis #pages label {
	cursor: pointer;
	font-weight: bold;
}

.devis #devis #metier label {
	display: inline-block;
	width: 18%;
	min-width: 175px;
	line-height: 1em;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 3em;
}

.devis #devis #metier input {
	display: none;
}

.devis #devis #metier label p {
	text-align: center;
	margin: 0;
	padding: 0.5em 0;
}

.devis #devis #metier p img {
	margin-top: 1em;
}

.devis #devis #metier label input:checked + p {
	border: 0.5em solid rgba(0,0,0,0.2);
	border-radius: 0.5em;
	margin: 0;
}

.devis #devis #metier label input + p {
	padding: 0.5em;
	margin: 0.5em;
}

.devis #devis #fonctions p:first-child {
	margin-bottom: 2em;
}

.devis #devis #fonctions label {
	margin-top: 1em;
	display: inline-block;
	vertical-align: top;
	width: 14%;
	min-width: 150px;
	text-align: center;
	position: relative;
}

.devis #devis #fonctions label p {
	margin: 0;
	text-align: center;
}

.devis #devis #fonctions label img {
	margin-bottom: 1em;
}

.devis #devis #fonctions label input {
	display: none;
}

.devis #devis #fonctions label input + p:before {
	content: " ";
	font-family: Action_man;
	position: absolute;
	top: 2em;
	right: 18%;
	font-size: 3em;
	color: #2d2;
	text-shadow: 0 0.1em #1a1;
}

.devis #devis #fonctions label input:checked + p:before {
	content: "V";
}

.devis #devis #message label {
	display: block;
}

.devis #devis #message textarea {
	margin: 1em -0.5em 0 -0.5em;
	padding: 0.5em;
	max-width: 100%;
	background: rgba(255,255,255,0.85);
}

.devis #devis #mail label {
	margin-right: 1em;
}

.devis #devis #mail input {
	color: black;
	padding: 0.5em;
	max-width: 90%;
	background: rgba(255,255,255,0.85);
}

.devis #devis #valider {
	display: inline-block;
	margin: 0;
}

.devis #devis #valider input {
	padding: 1em;
	font-size: 1.2em;
}

/********************************
************ CONTACT ************
********************************/

.contact .content {
	text-align: center;
}

.contact .content form {
	display: inline-block;
	text-align: left;
	margin-top: 2em;
	border-radius: 0.5em;
	width: 80%;
	padding-top: 1em;
	max-width: 35em;
	position: relative;
	border: 2px solid white;
	color: white;
}

.contact .content form>* {
	display: block;
}

.contact .content form *[name] {
	margin: 0 0 1em 10%;
}

.contact .content form label {
	margin: 0 0 0.5em 5%;
}

.contact .content form textarea {
	max-width: 80%;
	margin-left: 10%;
	padding: 0.5em;
	position: relative;
	left: -0.5em;
}

.contact .content form input {
	max-width: 80%;
}

.contact .content form input[type="submit"] {
	padding: 0.5em;
	border-radius: 0.5em;
}

.contact .content form input[type="submit"]:hover {
	box-shadow: inset 0 0 5px #88ABC2;
}

/********************************
*********** QUISUISJE ***********
********************************/

.quisuisje .content {
	text-align: center;
}

.quisuisje .content>* {
	display: inline-block;
	vertical-align: top;
}

.quisuisje .content #bulles article {
	position: relative;
	text-align: center;
}

.quisuisje .content #bulles div {
	position: relative;
	text-align: center;
	display: inline-block;
	margin: 1em;
}

.quisuisje .content #bulles div>* {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	margin: 2em 1em;
}

.quisuisje .content #bulles div p {
	max-width: 35em;
	text-align: justify;
	border: 2px solid white;
	color: white;
	border-radius: 3em;
	padding: 2em;
}

.quisuisje .content #bulles div.right span {
	float: left;
}

.quisuisje .content #bulles div span {
	float: right;
	margin-bottom: 0;
}

.quisuisje .content #bulles div span img {
	max-width: 10em;
}

.quisuisje .content aside#competences {
	color: white;
	text-align: left;
	margin: 2em;
}

.quisuisje .content aside#competences h4 {
	font-size: 125%;
}

.quisuisje .content aside#competences ul {
	border-left: solid 2px white;
	list-style-type: none;
	padding: 0.1em 1em 0.5em 1em;
	margin-top: 1em;
}

.quisuisje .content aside#competences ul li.titre {
	font-weight: bold;
	margin-top: 0.5em;
}

.quisuisje .content aside#competences ul li:not(.titre) {
	padding-left: 0.5em;
}













